extends layout

block content
  nav.navbar
    if (!currentUser)
    else if (currentUser.membership === "New")
      a(href="/account/secret/" + currentUser.id) Join Club 
    else if (currentUser.membership.includes("Member", "Admin"))
      a(href="/account/new-message/create/" + currentUser.id) Create Message
    if (currentUser)
      p
        a(href="/log-out") Log out
  div.header
    h1= title
    p Welcome to #{title}
    if (currentUser)
      p Welcome #{currentUser.username}!
      p Your membership status is: #{currentUser.membership}
    ul 
    if (!currentUser)
      li 
        a(href="/account/create") Create Account
      li 
        a(href="/account/log-in") Log In
  div.main-content
    if (allMessages.length > 0)
      each message in allMessages
        div.message-container
          p.message-title Title: #{message.title}
          hr
          p.message-body #{message.message}
          hr
          p.message-author Posted by: #[strong #{message.author}]
    else
      p There are no messages to display!
  div.footer
    hr
    p There are a total of #{user_count} users
    p and a total of #{message_count} messages posted!
